## "서울시 버스노선별 정류장별 승하차 인원 정보 데이터" 전처리 과정
- 해당 데이터를 가공하여 연습문제를 푸는 것이 목표 입니다.
- 다양한 데이터를 통한 반복 연습으로 데이터 전처리에 더욱 능숙해질 수 있도록 하겠습니다.
- EDA를 통해 데이터를 이해하기 위한 전 단계입니다.

### 실습 데이터 안내
- 버스 노선별 정류장별 승하차 인원 정보 데이터 : 2023.01.01 ~ 2023.01.31 
- 서울 열린데이터 광장에서 다운 받습니다.
- "BUS_STATION_BOARDING_MONTH_202301.csv" 파일을 다운로드 받아 진행하면 됩니다.

[기본 데이터]
* BUS_STATION_BOARDING_MONTH_202301.csv

* https://data.seoul.go.kr/dataList/OA-12912/S/1/datasetView.do


[추가 데이터]
* 서울시 버스정류소 위치정보.csv

* https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do

## 데이터 전처리 실습을 통해 해결해야 할 질문들

- 실습문제 1. 데이터 로딩하기
 
- 실습문제 2. 기본정보 확인하기

- 실습문제 3. 버스정류장 위치를 구 별로 구분하기

- 실습문제 4. (가상)버스정류장 제거하기

- 실습문제 5. 구 별로 버스정류장이 몇 개 있을까?

- 실습문제 6. 구 별로 버스 노선이 몇 개나 지나갈까?

- 실습문제 7. 각 구별로 승차 총 승객수, 하차 총 승객수 확인하기

- 실습문제 8. 각 구별로 승차 평균 승객수, 하차 평균 승객수 확인하기

- 실습문제 9. 데이터 합치기

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [111]:
import warnings
warnings.simplefilter(action='ignore')
pd.set_option('display.max_columns', None)

In [154]:
bus = pd.read_csv('./서울시 버스노선별 정류장별 승차 인원 정보.csv', encoding = 'cp949')
bus

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33,47,20230104
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76,1,20230104
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55,8,20230104
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363,21,20230104
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133,25,20230104
...,...,...,...,...,...,...,...,...,...
1242085,20230131,은평02,은평02(상신초교.두산.한신아파트~불광역),111900141,12828,역촌유치원입구(00011),56,6,20230203
1242086,20230131,6516,6516번(양천차고지~박미고개),114000293,15412,계남초등학교(00007),29,9,20230203
1242087,20230131,5511,5511번(신림2동차고지~중앙대학교),120000028,21127,서울대학교(00005),39,8,20230203
1242088,20230131,505,505번(노온사동~서울역),213000107,38221,소하2동행정복지센터.광명동굴길입구(00088),52,248,20230203
1242089,20230131,6516,6516번(양천차고지~박미고개),114000395,15718,양천공영차고지(00001),33,0,20230203

In [155]:
# 중복값 제거 
bus.drop_duplicates(inplace=True, keep='first')
# 해당 row의 데이터가 모두 똑같을때 제거됩니다
bus

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33,47,20230104
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76,1,20230104
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55,8,20230104
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363,21,20230104
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133,25,20230104
...,...,...,...,...,...,...,...,...,...
1242085,20230131,은평02,은평02(상신초교.두산.한신아파트~불광역),111900141,12828,역촌유치원입구(00011),56,6,20230203
1242086,20230131,6516,6516번(양천차고지~박미고개),114000293,15412,계남초등학교(00007),29,9,20230203
1242087,20230131,5511,5511번(신림2동차고지~중앙대학교),120000028,21127,서울대학교(00005),39,8,20230203
1242088,20230131,505,505번(노온사동~서울역),213000107,38221,소하2동행정복지센터.광명동굴길입구(00088),52,248,20230203
1242089,20230131,6516,6516번(양천차고지~박미고개),114000395,15718,양천공영차고지(00001),33,0,20230203

* 중복 값 X

In [113]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242090 entries, 0 to 1242089
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1242090 non-null  int64
 1   노선번호        1242090 non-null  object
 2   노선명         1242090 non-null  object
 3   표준버스정류장ID   1242090 non-null  int64
 4   버스정류장ARS번호  1242090 non-null  object
 5   역명          1242090 non-null  object
 6   승차총승객수      1242090 non-null  int64
 7   하차총승객수      1242090 non-null  int64
 8   등록일자        1242090 non-null  int64
dtypes: int64(5), object(4)
memory usage: 85.3+ MB

* 결측치 X / 범주형 변수 : 노선번호, 노선명, 버스정류장 ARS번호, 역명

In [114]:
bus.describe()

               사용일자     표준버스정류장ID        승차총승객수        하차총승객수          등록일자
count  1.242090e+06  1.242090e+06  1.242090e+06  1.242090e+06  1.242090e+06
mean   2.023012e+07  1.254219e+08  9.824638e+01  9.616134e+01  2.023013e+07
std    8.943980e+00  6.338575e+07  1.458214e+02  1.326740e+02  2.614456e+01
min    2.023010e+07  1.000000e+08  0.000000e+00  0.000000e+00  2.023010e+07
25%    2.023011e+07  1.079004e+08  1.200000e+01  1.500000e+01  2.023011e+07
50%    2.023012e+07  1.140002e+08  5.200000e+01  5.600000e+01  2.023012e+07
75%    2.023012e+07  1.210001e+08  1.290000e+02  1.280000e+02  2.023013e+07
max    2.023013e+07  9.998000e+08  4.414000e+03  4.022000e+03  2.023020e+07

In [115]:
bus.describe(include = 'O')

           노선번호                   노선명 버스정류장ARS번호              역명
count   1242090               1242090    1242090         1242090
unique      627                   644      12536           36622
top         N61  N61번(상계동차고지~양천공영차고지)          ~  은평공영차고지(00001)
freq      11326                  5673       5139             513

#### 서울시 버스정류장 위치를 구별로 구분하기

* 버스 정류장 ARS번호 앞 두자리 - 지역구분 두자리
* 지역구분 가능

In [116]:
bus['버스정류장ARS번호'].value_counts()

~        5139
01044     926
14061     918
01023     898
14015     868
         ...
18604       1
19908       1
14364       1
20987       1
22511       1
Name: 버스정류장ARS번호, Length: 12536, dtype: int64

In [117]:
bus['자치구'] = bus['버스정류장ARS번호'].str.slice(0,2) # 범주형 변수 slice방법

In [118]:
# 자치구 구분 코드 매핑
bus['자치구'] = bus['자치구'].map({ '01': '종로구', '02': '중구', '03': '용산구', '04': '성동구', '05': '광진구', '06': '동대문구', '07': '중랑구', '08': '성북구', '09': '강북구', '10': '도봉구', '11': '노원구', '12': '은평구', '13': '서대문구', '14': '마포구', '15': '양천구', '16': '강서구', '17': '구로구', '18': '금천구', '19': '영등포구', '20': '동작구', '21': '관악구', '22': '서초구', '23': '강남구', '24': '송파구', '25': '강동구'})

In [119]:
bus.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33,47,20230104,종로구
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76,1,20230104,NaN
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55,8,20230104,NaN
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363,21,20230104,NaN
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133,25,20230104,NaN

* 47 : 경기도 > 행 드롭

#### ARS 번호가 object인 이유를 찾아내고 해결

* ARS번호가 object인 이유는 '~' 이 들어갔기 때문이다.
* 버스정류장ARS번호 중 '~'로 표시되는 정류장은 '가상'(기점가상/종점가상/가상) 정류장이다

* 가상버스정류장은 가상으로 보이지 않는 버스정류장을 만들어서 이를 기반으로 버스의 실시간 위치정보 제공에 활용할 수 있습니다.

In [120]:
# ARS 번호가 object인 이유를 찾아내고 해결 - '가상 버스정류장'

bus[bus['역명'].str.contains('가상')]

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
27,20230101,9401,9401번(구미동~서울역),102000308,23850,한남대교(가상)(00028),0,17,20230104,강남구
81,20230101,9711,9711번(일산동부경찰서~양재역),119000299,20963,한강대교남단(가상)(00055),0,1,20230104,동작구
82,20230101,9711,9711번(일산동부경찰서~양재역),113000483,14998,서강대교북단(가상)(00023),0,1,20230104,마포구
102,20230101,9711,9711번(일산동부경찰서~양재역),102000307,23849,한남대교(가상)(00029),0,2,20230104,강남구
103,20230101,9707,9707번(고양 가좌동~영등포역),999800005,~,가좌동종점(종점가상)(00078),0,2,20230104,NaN
...,...,...,...,...,...,...,...,...,...,...
1241434,20230131,6211,6211번(신월동~상왕십리),990076458,~,중부운수앞(가상)(00112),0,89,20230203,NaN
1241544,20230131,472,472번(개포동~신촌),998501974,~,개포동차고지(종점가상)(00073),0,43,20230203,NaN
1241616,20230131,506,506번(신림동~종로1가),998501979,~,신림2동차고지(종점가상)(00102),0,1,20230203,NaN
1241744,20230131,1122,1122번(상진운수차고지~원자력병원),998501930,~,상진운수종점(기점가상)(00001),28,0,20230203,NaN
1241940,20230131,1711,1711번(국민대~공덕동),990072964,~,도원교통차고지(가상)(00066),0,106,20230203,NaN

In [121]:
bus[bus['버스정류장ARS번호'] == '~']

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
103,20230101,9707,9707번(고양 가좌동~영등포역),999800005,~,가좌동종점(종점가상)(00078),0,2,20230104,NaN
573,20230101,9701,9701번(가좌동~서울역),999800005,~,가좌동종점(종점가상)(00127),0,3,20230104,NaN
1604,20230101,7021,7021번(은평공영차고지~롯데백화점),999033574,~,은평공영차고지(가상)(00077),0,11,20230104,NaN
1681,20230101,7017,7017번(은평공영차고지~롯데백화점),999033574,~,은평공영차고지(가상)(00090),0,7,20230104,NaN
1771,20230101,7016,7016번(은평차고지~상명대),999033574,~,은평공영차고지(가상)(00107),0,8,20230104,NaN
...,...,...,...,...,...,...,...,...,...,...
1241434,20230131,6211,6211번(신월동~상왕십리),990076458,~,중부운수앞(가상)(00112),0,89,20230203,NaN
1241544,20230131,472,472번(개포동~신촌),998501974,~,개포동차고지(종점가상)(00073),0,43,20230203,NaN
1241616,20230131,506,506번(신림동~종로1가),998501979,~,신림2동차고지(종점가상)(00102),0,1,20230203,NaN
1241744,20230131,1122,1122번(상진운수차고지~원자력병원),998501930,~,상진운수종점(기점가상)(00001),28,0,20230203,NaN
1241940,20230131,1711,1711번(국민대~공덕동),990072964,~,도원교통차고지(가상)(00066),0,106,20230203,NaN

In [122]:
bus.dropna(inplace = True)

In [123]:
bus[bus['버스정류장ARS번호'] == '~'] # 값 없는 것 확인

Empty DataFrame
Columns: [사용일자, 노선번호, 노선명, 표준버스정류장ID, 버스정류장ARS번호, 역명, 승차총승객수, 하차총승객수, 등록일자, 자치구]
Index: []

In [124]:
# index 들고오기
virtual_index = bus[bus['역명'].str.contains('가상')].index
bus = bus.drop(virtual_index) # index값이 있는 행 모두 drop

In [125]:
bus[bus['역명'].str.contains('가상')] # 값 없는 것 확인

Empty DataFrame
Columns: [사용일자, 노선번호, 노선명, 표준버스정류장ID, 버스정류장ARS번호, 역명, 승차총승객수, 하차총승객수, 등록일자, 자치구]
Index: []

In [126]:
# 버스정류장ARS번호 > int로 변경
bus = bus.astype({'버스정류장ARS번호' : 'int'})

In [127]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132682 entries, 0 to 1242089
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1132682 non-null  int64
 1   노선번호        1132682 non-null  object
 2   노선명         1132682 non-null  object
 3   표준버스정류장ID   1132682 non-null  int64
 4   버스정류장ARS번호  1132682 non-null  int32
 5   역명          1132682 non-null  object
 6   승차총승객수      1132682 non-null  int64
 7   하차총승객수      1132682 non-null  int64
 8   등록일자        1132682 non-null  int64
 9   자치구         1132682 non-null  object
dtypes: int32(1), int64(5), object(4)
memory usage: 90.7+ MB

* 데이터 안에 있는 경기도 지역의 버스 정류장 걸러내기
* 외부데이터 : 서울시 버스정류소 위치정보

https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do

In [128]:
location = pd.read_csv('./서울시 버스정류소 위치정보.csv', encoding = 'cp949')
location

       정류소번호         정류소명         X좌표        Y좌표
0       3007         삼각지역  126.974012  37.535270
1       4843         옥수교회  127.015895  37.545305
2       5120         면곡시장  127.079729  37.569746
3       8186         월계2교  127.050133  37.623825
4       8901         수보약국  127.008044  37.608704
...      ...          ...         ...        ...
11310  25995        우성아파트  127.139339  37.550386
11311  25996        우성아파트  127.140046  37.550643
11312  25997         조일약국  127.123596  37.533630
11313  25998         성내시장  127.125497  37.536155
11314  25999  천호우체국.로데오거리  127.127337  37.540343

[11315 rows x 4 columns]

In [129]:
location.rename(columns={'정류소번호' : '버스정류장ARS번호'}, inplace = True)

In [130]:
# merge 정류장 번호 > 서울시만 해당
df = pd.merge(bus, location , how = 'inner', on = '버스정류장ARS번호')

In [131]:
df = df.drop(['X좌표', 'Y좌표', '정류소명'], axis = 1)

In [132]:
# 서울시 전체에 있는 버스 정류장 총 개수
df['버스정류장ARS번호'].nunique()

10555

In [133]:
df.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
0,20230101,100,100번(하계동~용산구청),100000002,1002,창경궁.서울대학교병원(00031),33,47,20230104,종로구
1,20230101,107,107번(민락동차고지~동대문),100000002,1002,창경궁.서울대학교병원(00058),4,16,20230104,종로구
2,20230101,171,171번(용마문화복지센터~월드컵파크7단지),100000002,1002,창경궁.서울대학교병원(00012),49,37,20230104,종로구
3,20230101,172,172번(하계동~월드컵2.3단지),100000002,1002,창경궁.서울대학교병원(00028),38,34,20230104,종로구
4,20230101,104,104번(강북청소년수련관난나~숭례문),100000002,1002,창경궁.서울대학교병원(00024),34,46,20230104,종로구

In [165]:
df['노선번호'].nunique()

627

In [166]:
df['노선명'].nunique()

644

* 노선번호는 같지만 노선명이 다른 경우가 있을 수 있다.

In [167]:
# '구' 별로 정류장 개수를 파악
bus_station_station = df.groupby(by = ['자치구'], as_index = False)['버스정류장ARS번호'].nunique()
bus_station_station.columns = ['자치구', '정류장 개수']

In [168]:
# '구' 별로 버스 노선개수를 파악
bus_station_line = df.groupby(by = ['자치구'], as_index = False)['노선번호'].nunique()
bus_station_line.columns = ['자치구', '정류장 노선개수']

In [169]:
# '구' 별로 승차 총 승객수, 하차 총 승객수 확인하기
bus_station_inout_sum = df.groupby(by = ['자치구'], as_index = False)[['승차총승객수','하차총승객수']].sum()

In [170]:
# '구' 별로 승차 평균 승객수, 하차 평균 승객수 확인하기
bus_station_inout_mean = df.groupby(by = ['자치구'], as_index = False)[['승차총승객수','하차총승객수']].mean()
bus_station_inout_mean.columns = ['자치구', '정류장 승차 평균 승객수', '정류장 하차 평균 승객수']

In [171]:
bus_sol = pd.merge(bus_station_station, bus_station_line, on = '자치구', how = 'inner')
bus_sol = pd.merge(bus_sol, bus_station_inout_sum, on = '자치구', how = 'inner')
bus_sol = pd.merge(bus_sol, bus_station_inout_mean, on = '자치구', how = 'inner')
bus_sol

     자치구  정류장 개수  정류장 노선개수   승차총승객수   하차총승객수  정류장 승차 평균 승객수  정류장 하차 평균 승객수
0    강남구     496        95  7605690  7218161     114.536624     108.700696
1    강동구     360        22  2769288  2702980      86.337896      84.270616
2    강북구     412        67  4619962  4476588     123.005458     119.188157
3    강서구     566        48  4599504  4573299      83.868276      83.390449
4    관악구     465        81  6780412  6924027     130.903566     133.676217
5    광진구     270        43  2672110  2654306     105.746567     105.041988
6    구로구     481        78  4846677  4647336     113.271875     108.613069
7    금천구     346        57  3724507  3540551     119.298751     113.406502
8    노원구     514        58  3973240  3922938      77.294374      76.315812
9    도봉구     358        47  3152870  3057690      98.687555      95.708339
10  동대문구     306        74  4996165  4880047     117.102191     114.380570
11   동작구     435        91  4660301  4495937     103.857662     100.194709
12   마포구     554        99  4974656  4697145      93.153119      87.956575
13  서대문구     453       107  5552542  5461283      99.062318      97.434176
14   서초구     598        97  6600195  6386910     105.630161     102.216727
15   성동구     430        60  2635024  2585403      84.124254      82.540082
16   성북구     595       100  5736420  5712621     106.300867     105.859851
17   송파구     419        60  5357976  5324379      96.347413      95.743270
18   양천구     319        55  3938122  3775622      92.607219      88.785938
19  영등포구     463        99  5603907  5652432     110.917938     111.878392
20   용산구     321        66  3846637  3764741     112.333528     109.941915
21   은평구     497        72  4826043  4722437      92.189784      90.210644
22   종로구     345       103  4962972  4787384     116.751088     112.620480
23    중구     172       101  3494802  3333162     109.534320     104.468188
24   중랑구     380        50  3643468  3590979      78.155820      77.029881